<p>Hola {nombre} {apellidos},</p>

<p>a su cuenta en https://{subdomain}.fpvirtualaragon.es/ se le han añadido las siguientes matrículas:</p>

<p>{matriculado_en_texto}</p>

<p>Puede recuperar su contraseña en cualquier momento a través de https://{subdomain}.fpvirtualaragon.es/login/forgot_password.php</p>

<p>No responda a esta cuenta de correo electrónico pues se trata de una cuenta automatizada no atendida. En caso de cualquier problema consulte con su coordinador/a de ciclo o acuda a la sección de <a href="https://{subdomain}.fpvirtualaragon.es/soporte/">ayuda/incidencias</a>.</p>

<p>Saludos</p>

<p>------</p>

<p>FP virtual Aragón{pie_email_rrss}</p>