<p>Bienvenido/a {nombre} {apellidos},</p>

<p>su cuenta se ha creado en https://{subdomain}.fpvirtualaragon.es/ y sus datos de acceso son los siguientes:</p>

<p>usuario: <b>{usuario}</p>

<p>contraseña (es recomendable que la cambie): <b>{contrasena}</b></p>

<p>También se le creará la cuenta <b>{email}</b> con contraseña (deberá cambiarla al acceder) <b>{contrasena}</b><br> Esta cuenta de correo es la que le dará acceso a las videoconferencias de la plataforma y también a la propia plataforma. <strong>La cuenta puede tardar hasta 72 horas lectivas en estar disponible</strong>.</p>

<p>Ha sido matriculado/a en:</p>

<p>{matriculado_en_texto}</p>

<p>Puede recuperar su contraseña en cualquier momento a través de https://{subdomain}.fpvirtualaragon.es/login/forgot_password.php<br/>Dispone de un curso de ayuda dónde encontrar información sobre el uso de la plataforma en <a href="https://{subdomain}.fpvirtualaragon.es/course/view.php?id=2">https://{subdomain}.fpvirtualaragon.es/course/view.php?id=2</a></p>

<p>No responda a esta cuenta de correo electrónico pues se trata de una cuenta automatizada no atendida. En caso de cualquier problema consulte con su coordinador/a de ciclo o acuda a la sección de <a href="https://{subdomain}.fpvirtualaragon.es/soporte/">ayuda/incidencias</a>.</p>

<p>Saludos</p>

<p>------</p>

<p>FP Virtual Aragón</p>
    
<p>{pie_email_rrss}</p>